// colors:
$color-dark-cornflower-blue: #2e3d7c;
$color-pickled-bluewood: #34495e;
$color-ocean-green: #41b883;
$color-dark-knight: #181818;
$color-american-red: #ba292e;
$color-medium-vermilion: #e15d3a;
$color-yellow-orange: #ffa73c;
$color-light: #dedede;

$color-primary: $color-ocean-green;
$color-secondary: $color-pickled-bluewood;
$color-action: $color-yellow-orange;
$color-danger: $color-american-red;

// buttons
$color-buttons-text: $color-light;
$color-buttons-bg: $color-pickled-bluewood;

// titles
$color-titles: $color-yellow-orange;

// text
$color-text: $color-dark-knight;

// links
$color-links: lighten($color-text, 5%);
$color-links--hover: $color-action;
