* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $color-primary;

  &:hover {
    color: darken($color-primary, 15%);
  }
}

body {
  color: $color-text;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  color: $color-secondary;
  margin: 0;
}

button {
  border: 0;
  background: none;
  cursor: pointer;
  background-color: $color-buttons-bg;
  color: $color-buttons-text;
  padding: 0.5rem 1rem;
  font-size: 0.85rem;
  line-height: 1.25;
  text-transform: uppercase;
  border-radius: 5px;
  transition: all 0.5s ease;

  &:hover {
    background-color: darken($color-buttons-bg, 5%);
    transition: all 0.5s ease;
  }
}
